.transform-50-50 {
  transform: translate(-50%, -50%);
}

.letter-normal {
  letter-spacing: normal;
}

.hover {
  @include hover;
}

.btn {
  background-color: map-get($secondary-colors, "secondary-200");
  color: map-get($map: $gray-colors, $key: gray-white);
  display: flex;
  align-items: center;
  transition: 0.2s;

  &:hover {
    background-color: map-get($secondary-colors, "secondary-200");
    color: map-get($map: $gray-colors, $key: gray-white);      
    transform: scale(0.9);
  }
}