.position-absolute {
  transform: translate(-50%, -50%);
}

.letter-normal {
  letter-spacing: normal;
}

.hover {
  @include hover;
}

.btn {
  background-color: #569573;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}