.banner {
  background-image: url("/assets/images/banner-sm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include media-breakpoint-up(sm) {
    background-image: url("/assets/images/banner.png");
  }

  .container {
    height: calc(100vh - 60px);

    @include media-breakpoint-up(lg) {
      height: calc(100vh - 124px);
    }
  }

  .btn .text {
    letter-spacing: 1.6px;
  }
}
