.banner {
  background-image: url("/assets/images/banner-sm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include media-breakpoint-up(sm) {
    background-image: url("/assets/images/banner.png");
  }
  height: calc(100vh - 60px);

  @include media-breakpoint-up(lg) {
    height: calc(100vh - 204px);
  }
}

.btn .text {
  letter-spacing: 1.6px;
}

.topics {
  .img {
    border-radius: 20px 0;
  }

  .text {
    letter-spacing: 1.6px;
  }
}